<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <description>LoginConf</description>
    <display-name>LoginConf</display-name>
    <servlet-name>LoginConf</servlet-name>
    <servlet-class>servlet.LoginConf</servlet-class>
  </servlet>
  <servlet>
    <description>RegisterConf</description>
    <display-name>RegisterConf</display-name>
    <servlet-name>RegisterConf</servlet-name>
    <servlet-class>servlet.RegisterConf</servlet-class>
  </servlet>
  <servlet>
    <description>ActivityPage</description>
    <display-name>ActivityPage</display-name>
    <servlet-name>ActivityPage</servlet-name>
    <servlet-class>servlet.ActivityPage</servlet-class>
  </servlet>
  <servlet>
    <description>EditActivityPage</description>
    <display-name>EditActivityPage</display-name>
    <servlet-name>EditActivityPage</servlet-name>
    <servlet-class>servlet.EditActivityPage</servlet-class>
  </servlet>
  <servlet>
    <description>AddActivity</description>
    <display-name>AddActivity</display-name>
    <servlet-name>AddActivity</servlet-name>
    <servlet-class>servlet.AddActivity</servlet-class>
  </servlet>
  <servlet>
    <description>EditActivity</description>
    <display-name>EditActivity</display-name>
    <servlet-name>EditActivity</servlet-name>
    <servlet-class>servlet.EditActivity</servlet-class>
  </servlet>
  <servlet>
    <description>SignUpAsTeam</description>
    <display-name>SignUpAsTeam</display-name>
    <servlet-name>SignUpAsTeam</servlet-name>
    <servlet-class>servlet.SignUpAsTeam</servlet-class>
  </servlet>
  <servlet>
    <description>TeamPage</description>
    <display-name>TeamPage</display-name>
    <servlet-name>TeamPage</servlet-name>
    <servlet-class>servlet.TeamPage</servlet-class>
  </servlet>
  <servlet>
    <description>EditPassword</description>
    <display-name>EditPassword</display-name>
    <servlet-name>EditPassword</servlet-name>
    <servlet-class>servlet.EditPassword</servlet-class>
  </servlet>
  <servlet>
    <description>DeleteActivity</description>
    <display-name>DeleteActivity</display-name>
    <servlet-name>DeleteActivity</servlet-name>
    <servlet-class>servlet.DeleteActivity</servlet-class>
  </servlet>
  <servlet>
    <description>AcceptApply</description>
    <display-name>AcceptApply</display-name>
    <servlet-name>AcceptApply</servlet-name>
    <servlet-class>servlet.AcceptApply</servlet-class>
  </servlet>
  <servlet>
    <description>DeclineApply</description>
    <display-name>DeclineApply</display-name>
    <servlet-name>DeclineApply</servlet-name>
    <servlet-class>servlet.DeclineApply</servlet-class>
  </servlet>
  <servlet>
    <description>JoinTeam</description>
    <display-name>JoinTeam</display-name>
    <servlet-name>JoinTeam</servlet-name>
    <servlet-class>servlet.JoinTeam</servlet-class>
  </servlet>
  <servlet>
    <description>UpdatePersonalInfo</description>
    <display-name>UpdatePersonalInfo</display-name>
    <servlet-name>UpdatePersonalInfo</servlet-name>
    <servlet-class>servlet.UpdatePersonalInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginConf</servlet-name>
    <url-pattern>/LoginConf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterConf</servlet-name>
    <url-pattern>/RegisterConf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActivityPage</servlet-name>
    <url-pattern>/ActivityPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditActivityPage</servlet-name>
    <url-pattern>/EditActivityPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddActivity</servlet-name>
    <url-pattern>/AddActivity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditActivity</servlet-name>
    <url-pattern>/EditActivity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignUpAsTeam</servlet-name>
    <url-pattern>/SignUpAsTeam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeamPage</servlet-name>
    <url-pattern>/TeamPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditPassword</servlet-name>
    <url-pattern>/EditPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteActivity</servlet-name>
    <url-pattern>/DeleteActivity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AcceptApply</servlet-name>
    <url-pattern>/AcceptApply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeclineApply</servlet-name>
    <url-pattern>/DeclineApply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JoinTeam</servlet-name>
    <url-pattern>/JoinTeam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePersonalInfo</servlet-name>
    <url-pattern>/UpdatePersonalInfo</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>